@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700;800;900&display=swap");
:root {
  --blue: #01d8fe;
  --red: #ee4740;
  --background: #0b0d2a;
}
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
html,
body {
  font-family: "Montserrat", sans-serif;
  overflow-x: hidden;
  overflow-anchor: none;
}
ul {
  list-style: none;
  margin: 0px;
  padding: 0px;
}
a {
  text-decoration: none;
}
p {
  margin-bottom: 0px;
  font-size: 22px;
  color: white;
}
@media (min-width: 992px) {
  .offcanvas {
    visibility: visible;
    position: relative;
    background: none;
    border: none;
    justify-content: end;
    color: var(--green);
  }
}
@media (max-width: 992px) {
  .offcanvas {
    width: 250px !important;
    background-color: var(--green);
  }
  .offcanvas-start-lg {
    top: 0;
    left: 0;
    border-right: 1px solid rgba(0, 0, 0, 0.2);
    transform: translateX(-100%);
  }
}
.navbar-nav li .nav-link {
  color: white !important;
  padding: 10px 30px !important;
  font-weight: bold;
}
.navbar-light {
  background-color: var(--green);
}
.nav-login1 {
  border: 1px solid white;
  background-color: var(--green);
  border-radius: 100px;
  color: white;
  padding: 10px 30px !important;
  font-weight: bold;
  display: block;
  margin-right: 10px;
  margin-bottom: 10px;
  text-align: center;
}
.nav-login1:hover {
  color: white;
}
.nav-login2 {
  border: 1px solid #008037;
  background-color: white;
  border-radius: 100px;
  color: #008037 !important;
  padding: 10px 30px !important;
  font-weight: bold;
  display: block;
  margin-right: 10px;
  margin-bottom: 10px;
  text-align: center;
}
@media (min-width: 1400px) {
  .container-custom {
    max-width: 1600px;
  }
}
/* width */
::-webkit-scrollbar {
  width: 0px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
/* main content =============== */
.text-title {
  font-size: 27px;
  font-weight: bold;
  color: var(--blue);
  margin: 0px 0px 20px 0px;
}
.span {
  color: var(--blue);
  font-weight: bold;
}
.row .col-lg-6,
.row .col-lg-4,
.row .col-lg-8,
.row .col-lg-1,
.row .col-lg-7,
.row .col-lg-2,
.row .col-lg-3,
.row .col-lg-5 {
  margin-bottom: 20px;
}

/* swiper */
.swiper-button-next,
.swiper-button-prev {
  background: none !important;
}
.swiper-button-next,
.swiper-button-prev {
  font-weight: bold;
  background-color: var(--green) !important;
  color: white;
  width: 40px !important;
  height: 40px !important;
  border-radius: 1000rem;
  margin-bottom: 0px;
  line-height: 40px;
  text-align: center;
}

#fp-nav ul li a,
.fp-slidesNav ul li a {
  filter: invert(1);
}
/* =================================== */
.about {
  padding: 50px 0px;
  background: url(../img/bn.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  display: flex;
  align-items: center;
  min-height: 100vh;
  position: relative;
}
.card-about p {
  text-align: justify;
}
.read-more {
  background-color: var(--red);
  border-radius: 20px;
  width: 100%;
  max-width: 300px;
  margin: 40px 0px;
}
.read-more a {
  font-weight: bold;
  font-size: 20px;
  color: white;
  padding: 10px 50px;
  text-align: center;
  display: block;
}
.read-more2 {
  max-width: unset;
}
.about .img-about {
  text-align: center;
  position: relative;
  top: 30px;
  left: 0px;
}
.about .img-about img {
  width: 100%;
  max-width: 450px;
  margin: auto;
}
.about .text-title {
  font-size: 45px;
}
.about .absolute-about {
  position: relative;
  display: block;
}
.about .absolute-about i {
  color: white;
  position: absolute;
  bottom: -100px;
  font-size: 50px;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: animate 1s linear infinite;
}
@keyframes animate {
  0% {
    transform: translateY(-50%);
    text-shadow: 0 50px 0 #8486a6;
  }
  20% {
    transform: translateY(0px);
    text-shadow: 0 10px 0 #8486a6;
  }
  40% {
    transform: translateY(0px);
    text-shadow: 0 10px 0 #8486a6;
  }
  60% {
    transform: translateY(0px);
    text-shadow: 0 0px 0 #8486a6;
  }
  100% {
    transform: translateY(100px);
    text-shadow: 0 -50px 0 #8486a6;
  }
}
/* ======================================== */
.chinhsach {
  background: var(--background);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  display: flex;
  align-items: center;
  min-height: 100vh;
}
.chinhsach .title {
  color: rgb(255, 255, 255);
  font-size: 27px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 20px;
}

.chinhsach .chinhsach-box img {
  width: 100%;
  max-width: 50px;
  height: 100%;
  max-height: 50px;
  margin: auto;
  position: relative;
  display: block;
}
.chinhsach .chinhsach-box p {
  background-color: var(--background);
  padding: 50px 15px;
  font-size: 18px;
  border-radius: 20px;
  margin-top: -30px;
  text-align: center;
  border: 1px solid var(--blue);
}
.chinhsach .box {
  background-color: #0c0f34;
  margin-top: 30px;
  text-align: center;
  padding: 20px 200px;
  min-height: 425px;
}
.title-custom {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 0px;
}
.title-custom img {
  width: 100%;
  max-width: 80px;
}
.title-custom .text-title {
  padding: 0px 30px;
  margin-bottom: 0px;
  text-align: center;
}
.title-content {
  padding: 0px 0px 30px 0px;
}
.chinhsach .row-box-cs {
  margin: 0px 30px;
  margin-top: -200px;
}
.chinhsach .cs-box {
  border: 1px solid var(--blue);
  background-color: var(--background);
  border-radius: 10px;
  padding: 10px;
  text-align: center;
}
.chinhsach .content-csbox {
  min-height: 120px;
}
.chinhsach .cs-box img {
  width: 100px;
  height: auto;
}
.chinhsach .cs-box h5 {
  font-size: 18px;
  color: white;
  margin: 10px 0px;
  padding: 10px 0px;
  background: linear-gradient(
    90deg,
    rgba(90, 213, 252, 0) 0%,
    rgba(90, 214, 252, 0.61) 49%,
    rgba(90, 213, 252, 0) 100%
  );
}
.chinhsach .cs-box p {
  font-size: 17px;
  min-height: 75px;
}
/* ======================================== */
.question {
  background: url(../img/bn2.jpg);
  display: flex;
  align-items: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.question .title img {
  height: 10vh;
}

.bg-question .col-lg-7 {
  height: 60vh;
}
.question .title {
  color: rgb(255, 255, 255);
  font-size: 40px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 60px;
}
/* orrder progaming ========================= */
.order-progaming {
  background-color: var(--background);
  display: flex;
  align-items: center;
  height: 100vh;
}
.order-progaming .box {
  position: relative;
  top: 0px;
  left: 0px;
}
.order-progaming .box .order-title {
  position: absolute;
  top: 12px;
  font-size: 25px;
  color: #0b0d2a;
  transform: translateX(45%);
  font-weight: bold;
  left: -50px;
}
.order-progaming .box-long .order-title {
  position: absolute;
  top: 6px;
  font-size: 25px;
  color: #0b0d2a;
  transform: translateX(45%);
  font-weight: bold;
  left: 0px;
}
.order-progaming .box img {
  position: relative;
  top: 0px;
  left: 0px;
  width: 100%;
  max-width: 500px;
}
.order-progaming .box .content {
  position: absolute;
  top: 150px;
  left: 50px;
  width: 100%;
  max-width: 400px;
}
.order-progaming .box .content .d-flex {
  padding: 10px 0px;
}
.order-progaming .box .content .d-flex p {
  padding-left: 10px;
  font-size: 17px;
}
.order-progaming .box .content img {
  width: 25px;
  height: 25px;
}
.order-progaming .box-long .content {
  top: 100px;
}
.order-progaming .box-long img {
  position: relative;
  top: 0px;
  left: 0px;
  width: 100%;
  max-width: 500px;
  max-height: 450px;
}
/* advantages =========================== */
.advantages {
  background: url(../img/bn3.png);
  background-color: var(--background);
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  height: 100vh;
  position: relative;
  background-size: cover;
}
/* custom slider */
.bg-advan {
  background: url(../img/advan.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  height: 65vh;
}
@media (min-width: 2000px) {
  .bg-advan {
    height: 45vh;
  }
}
.form-advan {
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
}
.swiper-container {
  width: 100%;
  height: 100%;
  position: initial !important;
}
.swiper-slide {
  text-align: center;
  font-size: 18px;
  color: #fff;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
.swiper-pagination {
  position: relative !important;
  top: 10px;
  right: 10px;
  width: auto !important;
  left: auto !important;
  margin: 0;
}
.swiper-pagination-bullet {
  padding: 5px 10px;
  border-radius: 0 !important;
  text-align: center;
  line-height: 38px;
  font-size: 22px;
  color: white !important;
  border: 2px solid var(--blue);
  opacity: 1 !important;
  background: var(--background) !important;
  width: 50px !important;
  height: 50px !important;
  border-radius: 1000rem !important;
  position: relative !important;
}
.swiper-pagination-bullet::before {
  content: "";
  position: absolute;
  width: 90px;
  height: 90px;
  background: url(../img/wheel.png);
  background-repeat: no-repeat;
  z-index: -1;
  top: -22px;
  left: -21px;
  background-size: 90px 90px;
}
.swiper-pagination-bullet:nth-child(1) {
  position: absolute;
  top: -450px;
  left: -280px;
}
.swiper-pagination-bullet:nth-child(2) {
  position: absolute;
  top: -350px;
  left: -330px;
}
.swiper-pagination-bullet:nth-child(3) {
  position: absolute;
  top: -250px;
  left: -380px;
}
.swiper-pagination-bullet:nth-child(4) {
  position: absolute;
  top: -150px;
  left: -430px;
}
.swiper-pagination-bullet:nth-child(5) {
  position: absolute;
  top: -450px;
  left: 450px;
}
.swiper-pagination-bullet:nth-child(6) {
  position: absolute;
  top: -350px;
  left: 400px;
}
.swiper-pagination-bullet:nth-child(7) {
  position: absolute;
  top: -250px;
  left: 350px;
}
.swiper-pagination-bullet:nth-child(8) {
  position: relative;
  top: -150px;
  left: 300px;
}
.swiper-pagination-bullet-active {
  color: black !important;
  background: var(--blue) !important;
  font-weight: bold;
}
.swiper-pagination-bullet-active::before {
  animation: wheel 3s linear infinite;
}
@keyframes wheel {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
/* dowload =============================== */
.dowload {
  background-color: var(--background);
  display: flex;
  align-items: center;
  height: 100vh;
  position: relative;
}
/* contact =============================== */
.contact {
  background-color: #0c0f34;
  display: flex;
  align-items: center;
  height: 100vh;
  position: relative;
}
.contact .mt-100 {
  margin-top: 0px !important;
}
.contact .left {
  width: 100%;
  position: relative;
}
.contact .left .bg-contact {
  width: 100%;
  position: relative;
}
.contact .content {
  position: absolute;
  top: 160px;
  left: 100px;
}
.contact .content p {
  color: #000ca3;
  font-style: italic;
  text-align: center;
}
.contact .content p:nth-child(1) {
  font-size: 26px;
  font-weight: bold;
}
.contact .content p:nth-child(2) {
  font-size: 22px;
}
.contact .content p:nth-child(3) {
  font-size: 44px;
  font-weight: bold;
}
.contact .form-contact {
  background-color: #05082a;
  padding: 50px 40px 10px 40px;
  border-radius: 20px;
  text-align: center;
}
.contact .form-contact .read-more {
  max-width: unset;
  margin: 25px 0px;
}
/* countdown */
.count {
  text-align: center;
  margin-top: -115px;
  position: relative;
}
.custom {
  display: inline-block;
  font-size: 1.2em;
  list-style-type: none;
  padding: 5px;
  text-transform: uppercase;
  text-align: center;
  color: var(--blue);
}

.custom span {
  display: block;
  font-size: 2.5rem;
  background-color: #5b5b5b;
  border-radius: 20px;
  width: 100px;
  height: 80px;
  color: var(--blue);
  line-height: 80px;
  margin-bottom: 20px;
}
/* ======================================== */
.footer .logo {
  width: 100%;
  max-width: 300px;
  margin: 20px auto;
}
.footer .text-title {
  font-size: 18px;
  margin: 0px 0px 10px 0px;
}
.footer .social-icon img {
  margin-right: 10px;
  width: 40px;
}
.footer .contact-footer {
  margin: 10px 0px;
  justify-content: center;
}
.footer .contact-footer p {
  font-size: 15px;
  white-space: nowrap;
}
.footer .absolute-footer {
  background-color: #32355c52;
  padding: 20px 0px;
  text-align: center;
  color: white;
}

/* mobile reponsive css ======================== */
@media (max-width: 600px) {
  p {
    font-size: 17px;
  }
  .square3,
  .square,
  .square2 {
    display: none;
  }
  .text-title {
    font-size: 23px;
  }
  .before-about::before {
    height: 65px;
    top: -20px;
    left: 10px;
  }
  .card-about {
    padding: 0px;
  }
  .about .img-about {
    top: 20px;
  }
  .text-end {
    text-align: left !important;
  }
  .headline-vision {
    font-size: 18px;
    text-align: justify;
  }
  .product .text-title {
    position: relative;
  }
  .quyenloi .quyenloi-item img {
    max-width: 300px;
  }
  .quyenloi .quyenloi-item p {
    margin-top: -70px;
    margin-left: 70px;
    font-size: 20px;
    font-weight: 600;
  }
  .chinhsach .title {
    font-size: 23px;
  }
  .feedback h4 {
    text-align: center;
    font-size: 20px;
  }
  .question .title {
    font-size: 23px;
  }
  .chinhsach {
    padding: 30px 0px;
  }
  .chinhsach .chinhsach-box p {
    padding: 40px 0px 20px;
    font-size: 20px;
  }
  .chinhsach .chinhsach-box p .percent-box {
    font-size: 30px;
    font-weight: bold;
  }
  .contact {
    margin-top: -255px;
  }
  /* accodion */
  .accordion-button {
    font-size: 18px;
  }
  .accordion-button:not(.collapsed) {
    font-size: 18px;
  }
  .accordion-body {
    font-size: 18px;
  }
  /* accodion */
  .footer {
    padding: 0px;
  }
  .footer .title {
    font-size: 23px;
  }
  .footer .link-follow {
    margin-left: 0px;
  }
  .footer .link-follow img {
    width: 80px;
    height: 80px;
  }
  .footer .link-follow a:nth-child(3) img {
    margin-top: -25px;
    margin-left: -18px;
  }
  .footer .footer-item svg {
    min-width: 30px;
    min-height: 30px;
    width: 30px;
    height: 30px;
  }
  /* download */
  .swiper-pagination-bullet{
    display: none !important;
  }
  .footer .contact-footer p{
    white-space: unset;
  }
  .footer .contact-footer{
    flex-wrap: wrap;
    justify-content: flex-start;
  }
}
@media screen and (max-width: 600px) {
  .wow {
    animation-name: none !important;
    visibility: visible !important;
  }
}
@media (min-width: 1800px) {
  .bg-advan {
    height: 55vh;
  }
  .contact .mt-100 {
    margin-top: -100px !important;
  }
}
@media(max-width:1800px){
  .contact .left .bg-contact {
    max-width: 500px;
    display: block;
    margin: auto;
    margin-top: -50px;
  }
  .contact .content {
    top: 120px;
    left: 146px;
}
.contact .content p:nth-child(1) {
  font-size: 20px;
  font-weight: bold;
}
.contact .content p:nth-child(2) {
  font-size: 18px;
}
.contact .content p:nth-child(3) {
  font-size: 38px;
  font-weight: bold;
}
.count {
  text-align: center;
  margin-top: -80px;
  position: relative;
}
.custom span {
  display: block;
  font-size: 2rem;
  background-color: #5b5b5b;
  border-radius: 20px;
  width: 80px;
  height: 65px;
  color: var(--blue);
  line-height: 65px;
  margin-bottom: 20px;
}
.footer .logo{
  margin: 0px;
}
.chinhsach .box{
  margin-top: 0px;
  min-height: 385px;
}
.chinhsach .box .title-custom{
  padding: 0px;
}
footer.footer {
  margin-top: -35px;
}
}
@media (max-width:600px){
  .contact .content {
    top: 76px !important;
    left: 42px !important;
}
.contact .content p:nth-child(1) {
  font-size: 16px;
  font-weight: bold;
}
.contact .content p:nth-child(3) {
  font-size: 30px;
  font-weight: bold;
}
.custom{
  font-size: 1rem;
}
.custom span {
  display: block;
  font-size: 1.2rem;
  background-color: #5b5b5b;
  border-radius: 10px;
  width: 60px;
  height: 45px;
  color: var(--blue);
  line-height: 45px;
  margin-bottom: 10px;
}
.count{
  margin-top: -30px;
}
.title-custom img{
  display: none;
}
.form-advan{
  max-width: 300px;
}
.bg-advan{
  height: 270px;
  background-size: 100% 100%;
}
.bg-advan .text-title{
  font-size: 18px;
}
.bg-advan .form-advan p {
  font-size: 15px;
}
.order-progaming .box .content{
  width: 90%;
  max-width: unset;
  top: 75px;
  left: 25px;
}
.order-progaming .box .order-title {
  position: absolute;
  top: 7px;
  font-size: 20px;
  color: #0b0d2a;
  transform: translateX(45%);
  font-weight: bold;
  left: -73px;
}
.order-progaming .box-long .order-title{
  top: 8px !important;
  left: -32px !important;
}
.order-progaming .box .content .d-flex p {
  padding-left: 10px;
  font-size: 14px;
}
br {
  display: none;
}
.bg-question .col-lg-7{
  display: none;
}
.question .title img{
  display: none;
}
.chinhsach .box {
  padding: 20px ;
  min-height: unset;
}
.title-custom .text-title{
  padding: 0px;
}
.chinhsach .row-box-cs{
  margin: 0px;
}
.about{
  padding: 0px;
}
.about .absolute-about{
  display: none;
}
}
